<nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading">{{ __('Actions') }}</li>
        <li>{{ Form.postLink(
                __('Delete'),
                {'action' : 'delete', 0 : comment.id},
                {'confirm' : __('Are you sure you want to delete # {0}?', comment.id)}
            )|raw
            }}
        </li>
        <li>{{ Html.link(__('List Comments'), {'action' : 'index'})|raw }}</li>
        <li>{{ Html.link(__('List Posts'), {'controller' : 'Posts', 'action' : 'index'})|raw }}</li>
        <li>{{ Html.link(__('New Post'), {'controller' : 'Posts', 'action' : 'add'})|raw }}</li>
    </ul>
</nav>
<div class="comments form large-9 medium-8 columns content">
    {{ Form.create(comment)|raw }}
    <fieldset>
        <legend>{{ __('Edit Comment') }}</legend>
        {{ Form.input('post_id', {'options' : posts})|raw }}
        {{ Form.input('comment')|raw }}
    </fieldset>
    {{ Form.button(__('Submit'))|raw }}
    {{ Form.end()|raw }}
</div>